/* #region Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #endregion Reset */

/* #region General */
img{
    max-height: 60px;
    margin-left: -15px;
}
#grid{
    width: 800px;
    height: 800px;
    background-color: cadetblue;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translatey(-50%);
    flex-wrap: wrap;
    align-content: flex-start;
    border: 1px solid black;
}
.hide{
    display: none;
}
.active{
    display: block;
}
main{
    height: calc(100vh - 240px);
    overflow-x: auto;
}
header, footer{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 40px;
    height: 120px;
}
.gap-20{
    gap: 20px;
}
main{
    background-color: #7fffd4;
    padding: 40px 0;
}
.flex{
    display: flex;
    align-items: center;
}
#play{
    padding: 0 40px;
    cursor: pointer;
}
.square{
    height: 10%;
    width: 10%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.square-normal{
    height: calc(100% / 9);
    width: calc(100% / 9);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.square-hard{
    height: calc(100% / 7);
    width: calc(100% / 7);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.square.azure,
.square-normal.azure,
.square-hard.azure{
    background-color: rgb(42, 234, 234);
}

/* #endregion General */

